/*<!--
Project Name: Three Card Monte
Author: Rich Zitterman
Student @GA in NYC
 -->*/

html {
box-sizing: border-box;
font-size: 16px;
font-family: 'Archivo Black', sans-serif;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
	width: 375px;
	height: 250px;
	position: absolute;
	top: 3px;
	left: 50%;
	margin-left: -187.5px;
	background-image: url(images/logo_one.png);
	background-size: cover;
	background-repeat: no-repeat;
	animation: logoimage 1.5s infinite;
}

@keyframes logoimage {
	50% {
		background-image: url(images/logo_two.png);
	}
}

#message-display {
	width:	900px;
	height: 80px;
	position:	absolute;
	top: 217px;
	left: 50%;
	margin-left: -450px;
}

#message-display p {
	text-align: center;
	line-height: 80px;
	font-size: 2.3em;
	margin: 0;
}

#card-container {
	width: 680px;
	height: 275px;
	position: absolute;
	top: 292px;
	left: 50%;
	margin-left: -340px;
}

.card {
	width: 183px;
	height: 275px;
	position: absolute;
	cursor:	pointer;
}

.back {
	background-image: url(images/card.png);
	background-size: cover;
}

.one {
	left: 59px;
}

.two {
	left: 248px;
}

.three {
	left: 437px;
}

.joker {
	background-image: url(images/joker.png);
	background-size: cover;
}

.queen {
	background-image: url(images/queen.png);
	background-size: cover;
}

#button-container {
	width: 700px;
	height: 100px;
	position: absolute;
	top: 572px;
	left: 50%;
	margin-left: -350px;
}

#reset-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 8%;
	cursor: pointer;
	background-image: url(images/reset.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#play-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 22%;
	cursor: pointer;
	background-image: url(images/play.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#money-update {
	width: 200px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -100px;
	background-image: url(images/pig.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#money-update p {
	text-align: center;
	line-height: 70px;
	font-size: 1.4em;
	margin: 0;
}

#playon-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 65%;
	cursor: pointer;
	background-image: url(images/play_on.png);
	background-size: cover;
	background-repeat: no-repeat;
}

#quit-button {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 5px;
	left: 79%;
	cursor: pointer;
	background-image: url(images/quit.png);
	background-size: cover;
	background-repeat: no-repeat;
}
