/*<!--
Project Name: Three Card Monte
Author: Rich Zitterman
Student @GA in NYC
 -->*/

html {
box-sizing: border-box;
font-size: 16px;
font-family: 'Merriweather', serif;
}

*, *:before, *:after {
box-sizing: inherit;
}

body {
	background-color: green;
}

#logo {
	width: 700px;
	height: 200px;
	position: absolute;
	top: 12px;
	left: 50%;
	margin-left: -350px;
	background: brown;
}

#message-display {
	width:	700px;
	height: 80px;
	position:	absolute;
	top: 217px;
	left: 50%;
	margin-left: -350px;
	background: orange;
}

#message-display p {
	text-align: center;
	line-height: 80px;
	font-size: 2.2em;
	margin: 0;
}

#card-container {
	width: 680px;
	height: 275px;
	position: absolute;
	top: 302px;
	left: 50%;
	margin-left: -340px;
	background: red;
}

.card {
	width: 183px;
	height: 275px;
	position: absolute;
}

.back {
	background-image: url(images/card.jpg);
	background-size: cover;
}

.one {
	left: 59px;
}

.two {
	left: 248px;
}

.three {
	left: 437px;
}

.joker-one {
	background-image: url(images/joker.jpg);
	background-size: cover;
}

.queen {
	background-image: url(images/queen.jpg);
	background-size: cover;
}

.joker-two {
	background-image: url(images/joker.jpg);
	background-size: cover;
}

#button-container {
	width: 700px;
	height: 60px;
	position: absolute;
	top: 582px;
	left: 50%;
	margin-left: -350px;
	background: lightblue;
}

#play-button {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	left: 20%;
	cursor: pointer;
	background: yellow;
}

#money-update {
	width: 300px;
	height: 50px;
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -150px;
	background: pink;
}

#money-update p {
	text-align: center;
	line-height: 50px;
	font-size: 1.4em;
	margin: 0;
}

#quit-button {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 5px;
	left: 73%;
	background: yellow;
}
